/* import */
@import url('https://fonts.googleapis.com/css?family=Arapey&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy&display=swap');

@import url('https://fonts.googleapis.com/css?family=Gudea|Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abel|Bitter|Crimson+Text|Karla|Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway|Shadows+Into+Light|Ubuntu&display=swap');
/* layout */
body{
    margin : 0;
    padding: 0;
}
nav{
    height: 100vh;
    display: flex;
}
.main_left{
    flex: 1;
    height: auto;
}
.main_right{
    flex: 1;
    height: auto;
}
#profile_img{
    margin-top: 25vh;
    width: 30%;
    border-radius: 50%;
}
.info{
    position: fixed;
    text-align: center;
    margin-left: 4%;
}
.theme_btn{
    font-size: 1rem;
    width: 150px;
    height: 2rem;
    text-align: center;
    vertical-align: center;
    color: lightgray;
    border: 3px solid lightgray;
    border-radius: 50px;
    position: fixed;
    right: 70px;
    top: 20px;
    cursor: pointer;
}
.theme_btn:hover{
    border: 3px solid #37a5ff;
    color: #37a5ff;
}
/* 1.5 - question */
#question > .main_left{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: white;
    background-color: #82909c;
}
#question > .main_right{
    transition: all ease 1s;
    font-family: 'Raleway', sans-serif;
    color: #606361;
}
#question > .main_right > h1{
    font-size: 5vh;
    line-height: 10vh;
    margin-top: 10vh;
    padding: 3rem;
    transition: all ease 1s;
    opacity: 0;
}
#question > .main_right > h2{
    font-size: 4vh;
    padding: 3rem;
    transition: all ease 1s;
}
.QBubble{
    z-index: 100;
    position: relative;
    transition: all ease 1s;
    border: 2px solid white;
    border-radius: 50%;
    width: 170px;
    height: 170px;
    padding: 2rem;
    margin: 1rem;
    text-align :center;
    font-size: 1.5rem;
    cursor: pointer;
}
.QBubble > i{
    position: relative;
    z-index: 200;
    font-size: 1rem;
}
.QBubble > i:hover{
    text-decoration: underline;;
}
.QBubble:hover{
    width: 200px;
    height: 200px;
}
#Q1{
    margin-left: 4rem;
}
#Q2{
    float: right;
}
#Q3{
    margin-top: 10rem;
}
/* 1 - intro */
#intro > .main_left{
    text-align: center;
    color: white;
    background-color: #82909c;
}
#intro > .main_left > .info> h1{
    transition: all ease 1s;
    font-size: 5vh;
    font-family: 'Gudea', sans-serif;
}
#intro > .main_right{
    transition: all ease 1s;
    color: white;
    background-image: url('../img/bg2-dark.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
#intro > .main_right > h1{
    font-size: 7vh;
    font-family: 'Gudea', sans-serif;
    line-height: 10vh;
    margin-top: 20vh;
    padding: 3rem;
    transition: all ease 1s;
    opacity: 0.5;
}

/* 2 - education */
#edu > .main_left{
    text-align: center;
    background-image: url('../img/bg3-dark.jpg');

    background-size: cover;
    background-repeat : no-repeat; 
}
#edu > .main_left > h1{
    font-family: 'Gudea', sans-serif;
    font-size: 7vh;
    color: white;
    margin-top : 10vh;
}
#edu > .main_right{
    background-color: #726363;
}
/* #edu > .main_right >ul{
    margin-top: 3rem;
    padding-left: 5rem;
}
#edu > .main_right >ul >li{
    margin-top: 2rem;
} */
#edu table{
    font-family: 'Gudea', sans-serif;
    background-color: white;
    margin-top: 10vh;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid lightgray;
    border-collapse: collapse;
}
#edu tr, th{
    border: 1px solid lightgray;
}
#edu td{
    border: 1px solid lightgray;
    padding: 1rem;
}
.edu_list{
    vertical-align: middle;
    display: inline-flex;
}
.edu_list > p{
    padding-left: 30px;
}

/* 3-job */
#job > .main_left{
    text-align: center;
    background-color: rgb(44, 80, 148);
}

#job > .main_left > h1{
    font-family: 'Gudea', sans-serif;
    font-size: 7vh;
    color: white;
    margin-top : 10vh;
}
#job > .main_right{
    font-family: 'Gudea', sans-serif;

    display: inline;
    color: white;
    background-color: rgb(64, 87, 131);

}

.card{
    margin: 0.5rem;
    border : 1px solid lightgray;
    width: 20rem;
    border-radius: 10px;
    transition: all ease 1s;
    cursor: pointer;
    padding-bottom: 1rem;
}

.card_title{
    font-size: 20px;
    padding: 0.5rem;
}
.card_title > i{
    float: right;
    font-size: 12px;
    color: lightslategray;
}
.card_image img{
    width: 100%;
}

.card_body{
    display: none;
}
.card_content ul > li{
    font-size: 15px;
}
.card_content ul > li > ul >li{
    font-size: 12px;
}
.intern{
    width: 100%;
    margin-top : 4rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
}
.part-time{
    width: 100%;
    margin-top : 2rem;
    margin-left: 2rem;
}
.part-time > h1{
    text-align: left;
    width: 100%;
}

/* 4 - project */
#project > .main_left{
    text-align: center;
    background-color: #6988dd;
}
#project > .main_left > h1{
    font-family: 'Gudea', sans-serif;
    color: white;
    font-size: 7vh;
    margin-top: 7vh;
}
#project > .main_right{
    background-color: #293c72;
    color: white;
    display: inline;
    font-family: 'Montserrat', sans-serif;
}
#pr_top{
    height: 50vh;
    overflow: hidden;
}
#pr_top img{
    width: 100%;
}
#pr_bottom{
    height: 50vh;
}
.thumb_group{
    display: inline-flex;
}
.thumb{
    overflow: hidden;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    margin: 1rem;
    background-color: lightgray;
    text-align: center;
    cursor: pointer;
    border: 3px solid lightgray;
    opacity: 1;
    transition: all ease 0.5s;
    font-size: 1rem;
    font-weight: bold;
}

.thumb img{
    height: 130px;
}
#thumb_info{
    margin: 1rem;
    padding: 1rem;
    border-top: 1px solid lightgray;
}
#pr1{
    background-image : url("../img/pr1-3.PNG");
    background-size: cover;
}
#pr2{
    background-image : url("../img/pr2.PNG");
    background-size: cover; 
}
#pr3{
    background-image : url("../img/pr3.PNG");
    background-size: cover; 
}
#timer{
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 10vh;
    right: 20px;
    text-align: center;
    cursor: pointer;
}